.ax--site-grid {
  display: grid;
  grid-template-columns: calc(50% - 750px ) 10px repeat(12, 1fr) 10px calc(50% - 750px);
}

*, ::before, ::after {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  padding: 0;
  margin: 0;
  min-height: 200vh;
}

header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 99;
  padding: 2.5rem;
}
header .logo {
  grid-column: 3;
  align-self: center;
  display: inherit;
}
header nav {
  grid-column: -4;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  grid-gap: 60px;
}
header nav ul a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8333333333rem;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
}

.banner {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.banner .ax--site-grid {
  height: 100%;
}
.banner::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  background: linear-gradient(269.65deg, #19FFBE -32.27%, #283782 92.74%);
}
.banner .banner-content .ax--site-grid {
  z-index: 1;
  position: relative;
}
.banner .banner-content .banner-background {
  position: absolute;
  inset: 0;
  height: 100vh;
}
.banner .banner-content .banner-background span {
  background: linear-gradient(-90deg, #283782, #19FFBE);
  width: 100%;
  aspect-ratio: 1;
  border-radius: 100%;
  display: block;
  position: absolute;
  transform: scale(2) translate(-20vw, -20%);
  bottom: 0;
  -webkit-animation: blobAnimation 60s linear infinite;
          animation: blobAnimation 60s linear infinite;
}
@-webkit-keyframes blobAnimation {
  0% {
    border-radius: 100% 100% 100% 100%/100% 100% 100% 100%;
    transform: scale(2) translate(-20vw, -20%) rotate(0);
  }
  50% {
    border-radius: 34% 64% 76% 96%/78% 42% 65% 69%;
    transform: scale(2) translate(-25vw, -20%) rotate(180deg);
  }
  100% {
    border-radius: 100% 100% 100% 100%/100% 100% 100% 100%;
    transform: scale(2) translate(-20vw, -20%) rotate(0);
  }
}
@keyframes blobAnimation {
  0% {
    border-radius: 100% 100% 100% 100%/100% 100% 100% 100%;
    transform: scale(2) translate(-20vw, -20%) rotate(0);
  }
  50% {
    border-radius: 34% 64% 76% 96%/78% 42% 65% 69%;
    transform: scale(2) translate(-25vw, -20%) rotate(180deg);
  }
  100% {
    border-radius: 100% 100% 100% 100%/100% 100% 100% 100%;
    transform: scale(2) translate(-20vw, -20%) rotate(0);
  }
}
.banner .banner-content.--section {
  height: 100vh;
}
.banner .banner-content.--section:nth-child(even) {
  background: #fff;
}
.banner .banner-content.--section h1, .banner .banner-content.--section h2 {
  align-self: center;
  grid-column: 4/-4;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 4.6666666667rem;
  line-height: 64px;
}
.banner .banner-content.--section h1 span, .banner .banner-content.--section h2 span {
  display: block;
}
.banner .banner-content.--section h1 {
  color: #fff;
}
.banner .banner-content.--section h1 span:not(:first-child) {
  filter: blur(8px);
}
.banner .banner-content.--section h1 span:nth-of-type(1):not(:first-child) {
  -webkit-animation: fadeIn 0.2s ease-in 1s 1 forwards;
          animation: fadeIn 0.2s ease-in 1s 1 forwards;
  transform: scale(0.98) translateX(-10px);
}
.banner .banner-content.--section h1 span:nth-of-type(2):not(:first-child) {
  -webkit-animation: fadeIn 0.2s ease-in 2s 1 forwards;
          animation: fadeIn 0.2s ease-in 2s 1 forwards;
  transform: scale(0.98) translateX(-10px);
}
.banner .banner-content.--section h1 span:nth-of-type(3):not(:first-child) {
  -webkit-animation: fadeIn 0.2s ease-in 3s 1 forwards;
          animation: fadeIn 0.2s ease-in 3s 1 forwards;
  transform: scale(0.98) translateX(-10px);
}
.banner .banner-content.--section h1 span:nth-of-type(4):not(:first-child) {
  -webkit-animation: fadeIn 0.2s ease-in 4s 1 forwards;
          animation: fadeIn 0.2s ease-in 4s 1 forwards;
  transform: scale(0.98) translateX(-10px);
}
.banner .banner-content.--section h1 span:nth-of-type(5):not(:first-child) {
  -webkit-animation: fadeIn 0.2s ease-in 5s 1 forwards;
          animation: fadeIn 0.2s ease-in 5s 1 forwards;
  transform: scale(0.98) translateX(-10px);
}
@-webkit-keyframes fadeIn {
  0% {
    filter: blur(8px);
    transform: scale(0.98) translateX(-10px);
  }
  100% {
    filter: blur(0);
    transform: scale(1) translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    filter: blur(8px);
    transform: scale(0.98) translateX(-10px);
  }
  100% {
    filter: blur(0);
    transform: scale(1) translateX(0);
  }
}
.banner .banner-content.--section h2 {
  color: #000;
  filter: blur(8px);
  transform: scale(0.98);
  transition: all 0.4s;
}
.banner .banner-content.--section h2.active {
  filter: blur(0);
  transform: scale(1);
}
.banner .banner-content.--section .--gradient {
  background-color: #19FFBE;
  background-image: linear-gradient(90deg, #19FFBE, #283782, #19FFBE);
  background-size: 200%;
  background-position: right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.banner .banner-content.--section .--gradient:hover {
  background-size: 400%;
}

.btn {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.btn span {
  display: block;
  background: #000;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 28px;
  padding: 8px 48px 8px 16px;
  border-radius: 100px;
  transform: rotateX(0deg) rotateY(0deg) scale(1);
  transition: all 0.15s ease-out;
}
.btn span:after {
  content: "\f0c9";
  font-family: "Font Awesome 6 free";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}/*# sourceMappingURL=style.css.map */